<div class="footer">
    <div class="footer-top">
    <div class="footer-top__logo">
    <img src="**gartner-img**" alt="gartner-img" />
    </div>
    <div class="footer-top__icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-square-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-linkedin-in"></i>
    </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer-wrapper__container">
            <h2 class="footer-wrapper__title">**about-gartner**</h2>
            <div class="footer-wrapper__row">
              <nav class="footer-wrapper__nav-first">
                <h3 class="nav-title">**text-title1**</h3>
                <ul class="nav-title__list">
                  <li><a class="nav-title__list-items" href="#">**text1**</a></li>
                  <li><a class="nav-title__list-items" href="#">**text2**</a></li>
                  <li><a class="nav-title__list-items" href="#">**text3**</a></li>
                  <li><a class="nav-title__list-items" href="#">**text4**</a></li>
                </ul>
              </nav>
              <nav class="footer-wrapper__nav-second">
                <h3 class="nav-title">**text-title2**</h3>
                <ul class="nav-title__list">
                  <li>
                    <a class="nav-title__list-items" href="#"
                      >Research &amp; Advisory</a
                    >
                  </li>
                  <li><a class="nav-title__list-items" href="#">Conferences</a></li>
                  <li><a class="nav-title__list-items" href="#">Consulting</a></li>
                  <li><a class="nav-title__list-items" href="#">Digital Markets</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="footer-wrapper__container">
            <h2 class="footer-wrapper__title">Get in Touch</h2>
            <div class="footer-wrapper__row">
              <nav class="footer-wrapper__nav-first">
                <h3 class="nav-title">Contact</h3>
                <ul class="nav-title__list">
                  <li><a class="nav-title__list-items" href="#">Contact Us</a></li>
                  <li><a class="nav-title__list-items" href="#">Become a Client</a></li>
                  <li>
                    <a class="nav-title__list-items" href="#">Office Locations</a>
                  </li>
                  <li>
                    <a class="nav-title__list-items" href="#">Technical Support</a>
                  </li>
                </ul>
              </nav>
              <nav class="footer-wrapper__nav-second">
                <h3 class="nav-title">Careers</h3>
                <ul class="nav-title__list">
                  <li><a class="nav-title__list-items" href="#">Why Gartner</a></li>
                  <li><a class="nav-title__list-items" href="#">Search Careers</a></li>
                  <li><a class="nav-title__list-items" href="#">Our Culture</a></li>
                  <li><a class="nav-title__list-items" href="#">Careers Blog</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <div class="footer-wrapper__container">
            <h2 class="footer-wrapper__title">Latest Insights</h2>
            <div class="footer-wrapper__row">
              <nav class="footer-wrapper__nav-first">
                <h3 class="nav-title">Resources</h3>
                <ul class="nav-title__list">
                  <li>
                    <a class="nav-title__list-items" href="#">Featured Insights</a>
                  </li>
                  <li><a class="nav-title__list-items" href="#">Webinars</a></li>
                  <li><a class="nav-title__list-items" href="#">Glossary</a></li>
                  <li><a class="nav-title__list-items" href="#">Client Stories</a></li>
                </ul>
              </nav>
            </div>
          </div>
        
    </div>
  </div>
