.btn{
    display: flex;
    justify-content: flex-end;
}.primary-btn{
    display: flex;
    justify-content:flex-end;
    color: #fff;
    background-color: #0000d3;
    font-size: 16px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    padding: 19px 38px 19px 36px;
    border: 0;
}