.footer{
    background-color: #f4f4f4;
}
.footer-top{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 56px 56px;   
    &__logo img{
     width: 116px;

    }
    &__icons i{
        font-size: 28px;
        color: #002856;
        padding-right: 4px;
    
    }
}
.footer-wrapper{
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 56px;
    gap: 1rem;
    &__title{
        margin-bottom: 15px;
        display: inline-block;
        color: #002856;
        font-size: 21px;
        line-height: 25px;
        font-weight: 800;
    }
    &__row{
        display: flex;
        gap: 8rem;
    }
.nav-title{
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    color: #002856;
    display: block;
    &__list{
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    &__list-items{
        text-decoration: none;
        color: #002856;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
    }
}
}